 <div class="preloader"></div>
 <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>Our Blog</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">Our Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
              <div class="row clearfix">
                 <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <% if(blog && blog.length > 0){ %>
                    <% for(var i=0;i<blog.length;i++){ %>     
                   <a href="/blog/<%= blog[i].uName  %>">
                    <div class="services-block col-lg-6 col-md-6 col-xs-12">
                    <div class="inner-box hvr-float">
                        <div class="image">
                            <img src="images/resource/services-3.jpg" alt="">
                        </div>

                        <div class="lower-box">
                            <div class="content">
                                <h4><%= blog[i].name %></h4>
                                <p><%= blog[i].shortDescription %></p>
                        <a href="/blog/<%= blog[i].uName %>"
                         class="arrow-box"><span class="fa fa-angle-right"></span></a> 
                                <a href="#" class="theme-btn btn-style-two">Read More</a>
                            </div>
                        </div>
                        </div>
                    </div>
                     </a>
                     <% } %>
               <% }%>  
                	
                       
                        <div class="styled-pagination">
                            <ul class="clearfix">
                                <li><a href="/blog"><span class="fa fa-angle-left"></span></a></li>
                                <li><a href="/blog">1</a></li>
                                <li><a href="/blog" class="active">2</a></li>
                                <li><a href="/blog"><span class="fa fa-angle-right"></span></a></li>
                            </ul>
                        </div>
                </div>
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar default-sidebar">
						
                        <!-- Sidebar Category -->
                        <div class="sidebar-widget sidebar-category">
                        	<h2>Categories</h2>
                            <ul class="list">
                                <li><a href="/services">Refinishing Floor</a></li>
                                <li class="current"><a href="/services">Custom Design</a></li>
                                <li><a href="/services">Floor Repair</a></li>
                                <li><a href="/services">Wooden Straircase</a></li>
                                <li><a href="/services">Tiles Flooring</a></li>
                                <li><a href="/services">Floor Paving</a></li>
                            </ul>
                        </div>
                        
                        <!-- Recent Posts -->
                        <div class="sidebar-widget recent-posts">
                            <h2>Recent Post</h2>

                            <article class="post">
                            	<figure class="post-thumb"><a href="/blog"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                <div class="text"><a href="http://t.commonsupport.com/cordoba/blog-single.html">Hardood Is The Best For Floor</a></div>
                                <div class="author-name">by John Doe</div>
                            </article>
                            
                            <article class="post">
                            	<figure class="post-thumb"><a href="/blog"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                <div class="text"><a href="/blog">Best Floor services With Chepaest Price</a></div>
                                <div class="author-name">by David Warner</div>
                            </article>
                            
						</div>
                        
                        
                        <div class="sidebar-widget subscribe-widget">
                            <h2>Subscribe</h2>
                            <div class="widget-content">
                                <div class="emailed-form">
                                    <form method="post" action="/contact">
                                        <div class="form-group">
                                            <input type="text" name="text" value="" placeholder="Name" required>
                                            <input type="email" name="email" value="" placeholder="Email Id" required>
                                            <button type="submit" class="theme-btn">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
							</div>
                        </div>

                        
                        
					</aside>
                </div> 
              </div>      
    </div>