<div class="preloader"></div>
<section class="page-title" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>services</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="services-section-two alternate">
    	<div class="container">
        	
            <div class="row clearfix">
            	
                    <% if(item && item.length > 0){ %>
                    <% for(var i=0;i<item.length;i++){ %>     
                   <a href="/services/<%= item[i].uName %>">
                    <div class="services-block col-lg-4 col-md-4 col-xs-12">
                	<div class="inner-box hvr-float">
                    	<div class="image">
                        	<img src="images/resource/services-2.jpg" alt="">
                        </div>

                        <div class="lower-box">
                        	<div class="content">
                                <h4><%= item[i].name %></h4>
                                <p><%= item[i].price %></p>
                            	<!-- <a href="/services" class="arrow-box"><span class="fa fa-angle-right"></span></a> -->
                                <a href="#" class="theme-btn btn-style-two">BOOK NOW</a>
                            </div>
                        </div>
                        </div>
                    </div>
                     </a>
                     <% } %>
               <% }%>  
            </div>

        </div>
    </section>