 <!-- Preloader -->
    <div class="preloader"></div>
    
    
     <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-8 col-xs-12">
                    <h1>Service Details</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">Service Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
     <div class="blog-content"> 
       <div class="image-box">
         <img src="/images/resource/services-5.jpg" alt"" />
       </div>
       <div class="lower-content">
        <h3><%= item.name %></h3>
        <div class="text-block text-justify">
         <p><%- item.description %></p>
        </div>
       </div>

     </div>
    </div>
    
                
            
                
                
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar">
                        <!-- Sidebar Category -->
                        <div class="sidebar-widget sidebar-category">
                            <h2>Categories</h2>
                            <ul class="list">
                                <li><a href="blog-detail.html#">Refinishing Floor</a></li>
                                <li class="current"><a href="blog-detail.html#">Custom Design</a></li>
                                <li><a href="blog-detail.html#">Floor Repair</a></li>
                                <li><a href="blog-detail.html#">Wooden Straircase</a></li>
                                <li><a href="blog-detail.html#">Tiles Flooring</a></li>
                                <li><a href="blog-detail.html#">Floor Paving</a></li>
                            </ul>
                        </div>
                        
                        <!-- Recent Posts -->
                        <div class="sidebar-widget recent-posts">
                            <h2>Recent Post</h2>

                            <article class="post">
                                <figure class="post-thumb"><a href="http://t.commonsupport.com/cordoba/blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                <div class="text"><a href="http://t.commonsupport.com/cordoba/blog-single.html">Hardood Is The Best For Floor</a></div>
                                <div class="author-name">by John Doe</div>
                            </article>
                            
                            <article class="post">
                                <figure class="post-thumb"><a href="http://t.commonsupport.com/cordoba/blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                <div class="text"><a href="http://t.commonsupport.com/cordoba/blog-single.html">Best Floor Service With Chepaest Price</a></div>
                                <div class="author-name">by David Warner</div>
                            </article>
                            
                        </div>
                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->